<div *ngIf="recetasCreadas" class="recetas-creadas">
  <h2>Mis Recetas</h2>
<div class="crear-btn">
<p-button label="Crear Receta Nueva" icon="pi pi-plus" (onClick)="crearReceta()"></p-button>
</div>
<div class="container-creadas">
  <div class="lista">
  <p-listbox [(ngModel)]="recetaSeleccionada" optionLabel="name" [options]="recetasCreadas"
    [listStyle]="{ 'max-height': '250px' }">
    <ng-template let-receta pTemplate="item">
      <div class="ui-helper-clearfix">
        <div>{{ receta.nombre }}</div>
      </div>
    </ng-template>
  </p-listbox>

</div>
  <div *ngIf="recetaSeleccionada">
    <app-tarjeta [receta]="recetaSeleccionada"></app-tarjeta>
  </div>

<div *ngIf="!recetasCreadas">
  <p>Todavia no ha creado ninguna receta</p>
</div>
