<div *ngIf="recetasCreadas" class="recetas-favoritas">
  <!-- Aquí se muestra la lista de recetas favoritas del usuario -->
  <h3>Mis Recetas</h3>

<p-button label="Crear Receta" icon="pi pi-plus" (onClick)="crearReceta()"></p-button>
  <p-listbox [(ngModel)]="recetaSeleccionada" optionLabel="name" [options]="recetasCreadas"
    [listStyle]="{ 'max-height': '250px' }">
    <ng-template let-receta pTemplate="item">
      <div class="ui-helper-clearfix">
        <div>{{ receta.nombre }}</div>
      </div>
    </ng-template>
  </p-listbox>
  <div *ngIf="recetaSeleccionada">
    <app-tarjeta [receta]="recetaSeleccionada"></app-tarjeta>
  </div>
</div>

<div *ngIf="!recetasCreadas">
  <!-- Mostrar un indicador de carga o un mensaje mientras se obtienen los datos -->
  <p>Cargando rmis recetas...</p>
</div>
