::ng-deep .p-button.p-button-icon-only {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

::ng-deep .p-menu{
  border: none;

}
::ng-deep .p-sidebar-right {
  width: 18rem !important;
}
::ng-deep .p-sidebar-header {
  font-size: 18px;
}
::ng-deep .p-sidebar-footer {
  font-size: 12px;
}
