@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h2{
  font-family: 'Fira Sans', sans-serif;
  font-size: px;
}
label, p, a, span{
  font-family: 'Open Sans';
  font-weight: bolder;
}

#navegar{
  color: blue;
  font-weight: bolder;
  cursor: pointer
}

.form-control:focus {
  box-shadow: 2px 2px 0px 0.5px #fcdd87;
}

.btn-custom {
  background-color: #00d09c;
  border-radius: 50px;
  color: #FFFFFF;
}
.btn-custom:hover,
.btn-custom:focus {
  background-color: #3d5656;
  color: #FFFFFF;
}

