
h2{
  font-family: 'Fira Sans', sans-serif;
  font-size: px;
}
label, p, a, span{
  font-family: 'Open Sans';
  font-weight: bolder;
}

#navegar{
  color: blue;
  font-weight: bolder;
  cursor: pointer
}

.btn-custom {
  background-color: #abc17c;
  border-radius: 50px;
  color: #FFFFFF;
}
.btn-custom:hover,
.btn-custom:focus {
  background-color: #6f873a;
  color: #FFFFFF;
}

.container{
  margin-top: 3%;
}


