<app-navbar></app-navbar>
<div class="container">
  <div class="breadcrumb">
    <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home"
      [style]="{ border: 'none' }"
    ></p-breadcrumb>
  </div>
  <h1 class="titulo-seccion">Planes disponibles</h1>
  <div class="contenedor d-flex flex-wrap justify-content-center">
    <div *ngFor="let plan of listaPlanes">
      <app-tarjeta-plan [plan]="plan"></app-tarjeta-plan>
    </div>
  </div>
</div>

<app-footer></app-footer>
