
.contenedor{
  margin-top: 2em;
  margin-bottom: 4em;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.titulo-seccion {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}


