<div class="row">
  <div class="col">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="nombre">Nombre</label><br>
        <input type="text" id="nombre" formControlName="nombre" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="descripcion">Descripción</label><br>
        <input type="text" id="descripcion" formControlName="descripcion" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="tiempoPreparacion">Tiempo de preparación (minutos)</label><br>
        <input type="number" id="tiempoPreparacion" formControlName="tiempoPreparacion" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="tiempoCoccion">Tiempo de cocción (minutos)</label><br>
        <input type="number" id="tiempoCoccion" formControlName="tiempoCoccion" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="instrucciones">Instrucciones</label><br>
        <textarea id="instrucciones" formControlName="instrucciones" class="p-inputtext"></textarea>
      </div>
      <h4>Añadir ingredientes</h4>
      <div class="p-field">
        <label for="ingrediente">Selecciona un ingrediente</label>
        <p-dropdown id="ingrediente" formControlName="ingrediente" [options]="ingredientes" optionLabel="nombre" (onChange)="seleccionarIngrediente($event.value)"></p-dropdown>
      </div>
      <div *ngIf="ingredienteSeleccionado">
        <div class="p-field">
          <label for="cantidad">Cantidad</label>
          <input type="number" id="cantidad" formControlName="cantidad" class="p-inputtext" />
        </div>
        <div class="p-field">
          <label for="unidadMedida">Unidad de medida</label>
          <input type="text" id="unidadMedida" formControlName="unidadMedida" class="p-inputtext" />
        </div>
        <button type="button" (click)="agregarIngredienteAReceta()">Agregar ingrediente</button>
      </div>
      <button type="submit">Guardar</button>
    </form>


  </div>
</div>

