<div class="row">
  <div class="col">
    <form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="nombre">Nombre</label><br>
        <input type="text" id="nombre" formControlName="nombre" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="descripcion">Descripción</label><br>
        <input type="text" id="descripcion" formControlName="descripcion" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="calorias">Calorías</label><br>
        <input type="number" id="calorias" formControlName="calorias" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="carbohidratos">Carbohidratos</label><br>
        <input type="number" id="carbohidratos" formControlName="carbohidratos" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="grasas">Grasas</label><br>
        <input type="number" id="grasas" formControlName="grasas" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="proteinas">Proteínas</label><br>
        <input type="number" id="proteinas" formControlName="proteinas" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="tiempoPreparacion">Tiempo de preparación (minutos)</label><br>
        <input type="number" id="tiempoPreparacion" formControlName="tiempoPreparacion" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="tiempoCoccion">Tiempo de cocción (minutos)</label><br>
        <input type="number" id="tiempoCoccion" formControlName="tiempoCoccion" class="p-inputtext" />
      </div>
      <div class="p-field">
        <label for="instrucciones">Instrucciones</label><br>
        <textarea id="instrucciones" formControlName="instrucciones" class="p-inputtext"></textarea>
      </div>
      <div class="p-field">
        <label for="usuario">Usuario</label><br>
        <input type="text" id="usuario" formControlName="usuario" class="p-inputtext" />
      </div>
      <h4>Ingrediente</h4><br>
      <div formArrayName="recetasConIngredientes">
        <div *ngFor="let receta of recetasIngredientes.controls; let i=index" [formGroupName]="i">
            <div class="p-field">
              <label for="cantidad">Cantidad</label><br>
              <input type="number" id="cantidad" formControlName="cantidad" class="p-inputtext" />
            </div>
            <div class="p-field" formGroupName="ingrediente">
              <label>Ingrediente</label><br>
              <p-multiSelect [options]="ingredientes" formControlName="idIngrediente" optionLabel="nombre"></p-multiSelect>
            </div>
        </div>
      </div>
      <button type="submit">Guardar</button>
    </form>


  </div>
</div>

