<div class="container-fluid">
  <div id="calendarBox">
  <div class="calendario">
    <h2 class ="titulo">Planificador Semanal</h2>
    <div id="calendarWeek" class="row">
      <div class="col">
        <!-- Recetas LUNES-->
        <div class="example-container">
          <h4 class="text-center">Lunes</h4>
          <div cdkDropList #mondayList="cdkDropList" [cdkDropListData]="calendar.monday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.monday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- Recetas MARTES-->
        <div class="example-container">
          <h4 class="text-center">Martes</h4>
          <div cdkDropList #tuesdayList="cdkDropList" [cdkDropListData]="calendar.tuesday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.tuesday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- Recetas MIERCOLES-->
        <div class="example-container">
          <h4 class="text-center">Miércoles</h4>
          <div cdkDropList #wednesayList="cdkDropList" [cdkDropListData]="calendar.wednesday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.wednesday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <!-- Recetas JUEVES-->
        <div class="example-container">
          <h4 class="text-center">Jueves</h4>
          <div cdkDropList #thursdayList="cdkDropList" [cdkDropListData]="calendar.thursday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.thursday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- Recetas VIERNES-->
        <div class="example-container">
          <h4 class="text-center">Viernes</h4>
          <div cdkDropList #fridayList="cdkDropList" [cdkDropListData]="calendar.friday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.friday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- Recetas SABADO-->
        <div class="example-container">
          <h4 class="text-center">Sábado</h4>
          <div cdkDropList #saturdayList="cdkDropList" [cdkDropListData]="calendar.saturday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.saturday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- Recetas DOMINGO-->
        <div class="example-container">
          <h4 class="text-center">Domingo</h4>
          <div cdkDropList #sundayList="cdkDropList" [cdkDropListData]="calendar.sunday"
            [cdkDropListConnectedTo]="[todoList, mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of calendar.sunday" cdkDrag
                [receta]="receta"></app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex p-2 buttons">
      <p-button icon="pi pi-save" (click)="saveCalendar()" label="Guardar calendario"></p-button>
      <p-button icon ="pi pi-trash" iconPos="right" (click)="clearCalendar()" label="Vaciar calendario"></p-button>
    </div>


  </div>
  <div class="recetas-todas">
    <!-- Recetas TODAS-->
    <div id="recetasBox" class="container">
      <h3 class="titulo">Recetas</h3>
      <div id="Recetas" class="row">
        <div class="example-container">
          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[mondayList,tuesdayList, wednesayList, thursdayList, fridayList, saturdayList, sundayList]"
            id="todoList" class="example-list" (cdkDropListDropped)="dropCopy($event)">
            <div class="example-box">
              <app-tarjeta-calendar *ngFor="let receta of todo" cdkDrag [receta]="receta">
              </app-tarjeta-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
