<div *ngIf="recetasFavoritas" class="recetas-fav">
  <!-- Aquí se muestra la lista de recetas favoritas del usuario -->
  <h2>Recetas favoritas</h2>
  <div class="container-fav">
    <div class="lista">
    <p-listbox [(ngModel)]="recetaSeleccionada" optionLabel="name" [options]="recetasFavoritas"
      [listStyle]="{ 'max-height': '250px' }">
      <ng-template let-receta pTemplate="item">
        <div class="ui-helper-clearfix">
          <div>{{ receta.nombre }}</div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
    <div *ngIf="recetaSeleccionada">
      <app-tarjeta [receta]="recetaSeleccionada"></app-tarjeta>
    </div>
  </div>
</div>


<div *ngIf="!recetasFavoritas">
  <!-- Mostrar un indicador de carga o un mensaje mientras se obtienen los datos -->
  <p>Cargando recetas favoritas...</p>
</div>
