@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

.contenedor{
  margin-top: 2em;
  margin-bottom: 4em;
}
.titulo-seccion {
  font-family: 'Fira Sans', sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto;
}
button.active {
  background-color: #ccc;
}

.filtros{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  gap: 16px
}
::ng-deep.p-dropdown {
  width: 232px;
}
::ng-deep input.p-inputtext.p-component.p-element.filtro-search.ng-untouched.ng-pristine.ng-valid{
  width: 232px;
}
@media screen and (max-width: 665px) {
  .filtros{
    flex-direction: column;
    align-items: center;
  }
}
