<app-navbar></app-navbar>
<div class="container">
  <div class="breadcrumb">
    <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home"
      [style]="{ border: 'none' }"
    ></p-breadcrumb>
  </div>
  <h1 class="titulo-seccion">Todas las recetas</h1>
  <div class="filtros">
    <p-dropdown
      class="searchDrop"
      [options]="searchOptions"
      [(ngModel)]="selectedSearchOption"
    ></p-dropdown>

    <span class="p-input-icon-right">
      <input
        pInputText
        class="filtro-search"
        [(ngModel)]="searchQuery"
        type="text"
        placeholder="Buscar"
        (input)="buscarReceta($event)"
      />
      <i class="pi pi-search"></i>
    </span>
  </div>
  <div class="contenedor d-flex flex-wrap justify-content-center">
    <div *ngFor="let receta of datos">
      <app-tarjeta [receta]="receta"></app-tarjeta>
    </div>
  </div>
</div>
<p-scrollTop></p-scrollTop>
<app-footer></app-footer>
