<div class="contenedor">
  <div class="notification" (click)="toggleNotificacion()">
    <h4 class="notification-title">{{ notificacion.mensaje }}</h4>
    <div class="notification-toggle">
      <p class="notification-timestamp">{{ calcularTiempoTranscurrido(notificacion.fechaHora) }}</p>
      <div class="notification-status" *ngIf="!notificacion.leida"></div>
    </div>
  </div>
  <div class="notification-details" *ngIf="mostrarDetalles">
    <p class="notification-message">{{ notificacion.mensaje }}</p>
    <p-button (click)="eliminarNotificacion()" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
  </div>
</div>
