<div class="fila">
  <div class="input">
    <label for="username">Username</label>
    <input pInputText id="username" [(ngModel)]="usuario.username" />
  </div>
  <div class="input">
    <label for="email">Email</label>
    <input pInputText id="email" [(ngModel)]="usuario.email" />
  </div>
</div>
<div>
  <div class="avatar-upload">
      <p-fileUpload name="myfile[]" (onSelect)="upload($event)" [multiple]="false" accept="image/*" [maxFileSize]="maxFileSize">
          <ng-template pTemplate="toolbar">
              <div class="py-3">Sube tu avatar</div>
          </ng-template>
          <ng-template pTemplate="content">
          </ng-template>
      </p-fileUpload>

  </div>

</div>
<div class="error" *ngIf="showError">
  <p-messages [(value)]="mensaje" [enableService]="false"></p-messages>
</div>
<div class="fila">
  <button class="save-btn" (click)="guardarCambios()">Guardar Cambios</button>
</div>
