@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.contenedor {
  padding: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.titulo-seccion {
  font-family: 'Fira Sans', sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.contenedor-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 24px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile-tabs {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.imagen-usuario {
  margin-top: 20px;
}

.imagen-usuario img {
  max-width: 300px;
  border-radius: 50%;
}

.nombre-usuario h2 {
  font-size: 32px;
}

.editar-perfil-btn {
  background-color: #ffd04a;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.email-usuario {
  font-size: 18px;
}

.editar-perfil-btn:hover {
  background-color: #ffc10d;
}

.editar-perfil-btn:focus {
  outline: none;
}

.editar-perfil-btn:active {
  background-color: #dfa600;
}

::ng-deep .p-badge {
  background: #ffc107;
  color: #212529;
  font-size: 0.70rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

@media (max-width: 767px) {
  .profile-container {
    flex-direction: column;
  }

  .nombre-usuario {
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .contenedor-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 959px) {
  ::ng-deep .p-tabview-nav-content {
    overflow-x: scroll;
    white-space: nowrap;
  }

  ::ng-deep .p-tabview-nav .p-tabview-nav-next,
  ::ng-deep .p-tabview-nav .p-tabview-nav-prev {
    display: none;
  }

  ::ng-deep .p-tabview-nav .p-tabview-nav-list {
    display: flex;
  }

  ::ng-deep .p-tabview-nav .p-tabview-nav-list .p-tabview-nav-item {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}
