<div class="card">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <img
        alt="cookbook-logo"
        routerLink="/home"
        src="assets\images\CookBook.png"
        width="70"
        class="menu-logo mr-2"
      />
    </ng-template>
    <ng-template pTemplate="end" *ngIf="isLoggedIn; else noLogueado">
      <div class="menu-items">
        <p-button
        class="logout-btn"
          icon="pi pi-sign-out"
          pTooltip="Cerrar sesión"
          [showDelay]="500"
          styleClass="p-button-rounded p-button-danger p-button-outlined logout-button"
          (click)="cerrarSesion()"
          [style]="{ cursor: 'pointer' }"
        ></p-button
        ><br />
        <p-avatar
          image="{{ usuarioLogueado.imagen }}"
          pTooltip="Mi perfil"
          [showDelay]="500"
          class="profile-avatar"
          size="large"
          shape="circle"
          (click)="navegarPerfil()"
        ></p-avatar>
        <div *ngIf="usuarioLogueado.idUsuario == 100" class="admin-menu">
          <app-admin-menu></app-admin-menu>
        </div>
      </div>
    </ng-template>
    <ng-template #noLogueado>
      <button
        class="p-button p-button-rounded success login-button"
        routerLink="/auth/login"
      >
        <i class="pi pi-user"></i>
        Login
      </button>
    </ng-template>
  </p-menubar>
</div>
