
  <p-menubar [model]="menuItems" class="menu-responsive">
    <ng-template pTemplate="start">
      <img alt="cookbook-logo" routerLink="/home" src="assets\images\CookBook.png" width="70" class="menu-logo mr-2" />
    </ng-template>

    <ng-template pTemplate="end">
      <ng-container *ngIf="isLoggedIn">
        <ng-container *ngTemplateOutlet="logueado"></ng-container>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <ng-container *ngTemplateOutlet="noLogueado"></ng-container>
      </ng-container>
      <ng-template #logueado>
        <div class="logueado">
          <p-button class="hide-label" icon="pi pi-sign-out" pTooltip="Cerrar sesión" [showDelay]="500" label="Cerrar sesión"
            styleClass="p-button-rounded p-button-danger logout-btn" (click)="confirmarCierre()"></p-button>
          <br />
          <p-avatar image="{{ usuarioLogueado.imagen }}" pTooltip="Mi perfil"
            [showDelay]="500" class="profile-avatar" size="large" shape="circle" (click)="navegarPerfil()"></p-avatar>
          <div *ngIf="isAdmin" class="admin-menu">
            <app-admin-menu></app-admin-menu>
          </div>
        </div>
    </ng-template>
      <ng-template #noLogueado>
        <div class="nolog-btn" >
            <p-button icon="pi pi-user-plus" (onClick)="showMobileMenu()" class="p-button-rounded acceso" label="Acceso"></p-button>
            <div class="submenu"*ngIf="displayMenu">
                <ul class="lista">
                  <li class="elemento">
                    <a class="link" href="/auth/login">
                      <span class="menu-text">Inicia sesión</span>
                      <span class="pi pi-sign-in"></span>
                    </a>
                  </li>
                  <li class="elemento">
                    <a class="link" href="/auth/registro">
                      <span class="menu-text">Regístrate</span><span class="pi pi-plus"></span>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        <div class="nolog-dskt">
          <button class="p-button p-button-rounded success register-btn" routerLink="/auth/registro"[style]="{ 'background-color': '#92e3a9', 'border': 'none'}">
            <i class="pi pi-plus"></i>
            Registrarse
          </button>
          <button class="p-button p-button-rounded login-btn" routerLink="/auth/login" >
            <i class="pi pi-user"></i>
            Login
          </button>
        </div>
      </ng-template>
    </ng-template>
  </p-menubar>

<p-confirmDialog class="modal-logout" #cd [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button type="button" styleClass="p-button-success" icon="pi pi-check" label="Si" (click)="cd.accept()"
      title="Si"></p-button>
    <p-button type="button" styleClass="p-button-danger" icon="pi pi-times" label="No" (click)="cd.reject()" title="No">
    </p-button>
  </ng-template>
</p-confirmDialog>
