/* Estilos generales */
::ng-deep .p-menubar.p-component{
  padding: 8px 32px;
}
.container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}

.menu-logo {
  width: 70px;
  margin-right: 2px;
}

.logueado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile-avatar {
  height: 48px;
}
.profile-avatar:hover {filter: drop-shadow(0.25px 0.25px 2px black);
}

.nolog-btn {
  display: none;
}

::ng-deep button.p-ripple.p-element.p-button-rounded.p-button-danger.logout-btn.p-button.p-component{
    height: 42px;
}
::ng-deep i.pi.pi-bars {
  font-size: 1.35rem;
}
.register-btn {
  background-color: #92e3a9 !important;
  border-color: #83c796 !important;
  border: unset !important;
  gap:8px;
}

.register-btn:hover {
  background-color: #83c796 !important;
  border-color: #83c796 !important;
}

.login-btn {
  gap:8px;
}

.nolog-dskt.ng-star-inserted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Estilos para p-dialog específico */
::ng-deep .modal-logout .p-dialog-header {
  padding: 24px 24px 0 24px;
}

::ng-deep .modal-logout .p-dialog-content {
  padding: 24px;
  padding-top: 12px;
}

::ng-deep .modal-logout .p-dialog-footer {
  display: flex;
  justify-content: space-around;
}

::ng-deep .modal-logout .p-dialog-footer button {
  width: 144px;
}

::ng-deep .modal-logout .p-dialog {
  width: 24rem !important;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px)  {
  ::ng-deep button.p-ripple.p-element.p-button.p-component {
    height: 48px;
  }
  ::ng-deep .acceso button.p-ripple.p-element.p-button.p-component {

    border-radius: 30px;
    min-width: 160px;
    height: 42px;
  }
  ::ng-deep button.p-ripple.p-element.p-button-rounded.p-button-danger.logout-btn.p-button.p-component{
    height: 48px;
    width: 48px;
}
::ng-deep button.p-ripple.p-element.p-button-rounded.p-button-danger.logout-btn.p-button.p-component > span.p-button-label{
  display: none
}

  .submenu {
    min-width: 160px;
    position: absolute;
    background: #e9ecef;
    cursor: pointer;
    text-decoration: none;
    background: #ffffff;
    border: 0 none;
    border-radius: 3%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 4px;
    right: 33px;
  }

  .lista {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .elemento {
    padding: 0.75rem;
    color: #495057;
    border-radius: 0;
    transition: box-shadow 0.2s;
    -webkit-user-select: none;
    user-select: none;
  }

  .elemento:hover {
    background-color: #e8e9ea;
    color: #000;
  }

  .link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    padding: 0.25rem;
    color: #495057;
    transition: box-shadow 0.2s;
    -webkit-user-select: none;
    user-select: none;
  }

  ::ng-deep .nolog-btn.ng-star-inserted {
    display: block;
  }

  ::ng-deep .nolog-dskt.ng-star-inserted {
    display: none !important;
  }
}

@media screen and (max-width: 400px)  {
  ::ng-deep .acceso button.p-ripple.p-element.p-button.p-component {
    min-width: unset;
    height: 48px;
  }
  ::ng-deep button.p-ripple.p-element.p-button.p-component {
      width: 48px;
      height: 48px;
      border-radius: 26px;
      padding: 8px;
    padding-left: 15px;
      min-width: unset;
  }
  ::ng-deep .admin-btn button.p-ripple.p-element.p-button.p-component {
    padding-left: 8px;
  }

  ::ng-deep span.p-button-label.ng-star-inserted{
    display: none;
  }

  .submenu {
    min-width: 160px;
    right: 40px;
  }
}
