<app-navbar></app-navbar>

<div class ="container contenedor">
  <h1 class="titulo">FAQs</h1>
  <div class="seccion-1">
    <div class="columna">
      <div class="text-center">
        <p>A continuación, te mostramos una sección de las preguntas mas frecuentes que nos hacen
          nuestros usuarios.
        </p>
      </div>

      <p-panel header="{{ msg1 }}" [toggleable]=true>
        <p>{{ res1 }}</p>
      </p-panel>
      <p-divider></p-divider>
      <p-panel header="{{ msg2 }}" [toggleable]=true>
        <p>{{ res2 }}</p>
      </p-panel>
      <p-divider></p-divider>

      <p-panel header="{{ msg3 }}" [toggleable]=true>
        <p>{{ res3 }}</p>
      </p-panel>
      <p-divider></p-divider>

      <p-panel header="{{ msg4 }}" [toggleable]=true>
        <p>{{ res4 }}</p>
      </p-panel>
      <p-divider></p-divider>
      </div>
      <div class="columna">
        <div class ="container">
          <div class="text-center">
            <img alt="faqs" id="img-fqs" src="assets/images/faqs.jpg">
          </div>
        </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>
