#img-fqs{
  max-width: 100%;

}
.titulo{
  font-family: 'Fira Sans', sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto;
}
.columna{
  margin-bottom: 48px;
}
.seccion-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
@media (max-width:1300px) and (min-width:1025px) {
  .seccion-1{
    flex-direction: column-reverse;
    gap: unset !important;
  }
  #img-fqs{
    max-width: 55%;

  }
}
@media (max-width:1024px) and (min-width:770px) {
  .seccion-1{
    flex-direction: column-reverse;
    gap: unset !important;
  }
  #img-fqs{
    max-width: 55%;

  }
  .contenedor{
    max-width: 80vh;
  }
}

@media (max-width:769px) and (min-width:600px) {
  .seccion-1{
    flex-direction: column-reverse;
    gap: unset !important;
  }
  #img-fqs{
    max-width: 55%;
  }
  .contenedor{
    max-width: 57vh;
  }
}

@media (max-width:599px) and (min-width:400px) {
  .seccion-1{
    flex-direction: column-reverse;
    gap: unset !important;
  }
  #img-fqs{
    max-width: 55%;

  }
  .contenedor{
    max-width: 42vh;
  }
}

  @media (max-width:399px) and (min-width:250px) {
    .seccion-1{
      flex-direction: column-reverse;
    gap: unset !important;
    }
    #img-fqs{
      max-width: 55%;

    }
    .contenedor{
      max-width: 33vh;
    }

}
