<div id="main-container">
  <h5 class="mt-5">¡ Nos encantaría saber de tí !</h5>
  <div>
    <div>
      <p>
        Si tienes alguna pregunta, sugerencia, o simplemente deseas ponerte en
        contacto con nosotros, no dudes en hacerlo. Estamos aquí para ayudarte.
      </p>

      <h6 class="m-4">Puedes rellenar el siguiente formulario de contacto.</h6>

      <form class="form-contacto" [formGroup]="formContacto">
        <div class="formulario">
          <label for="username">Nombre y apellidos</label>
          <input
            pInputText
            id="username"
            aria-describedby="username-help"
            formControlName="username"
          />
          <small id="username-help"
            >Escribe tu nombre completo para dirigirnos a usted</small
          >
          <label for="email">Email de conctacto</label>
          <input
            pInputText
            id="email"
            aria-describedby="username-help"
            formControlName="email"
          />
          <label for="texto">¡ Dinos en que podemos ayudarte !</label>
          <textarea
            id="texto"
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="texto"
          ></textarea>
        </div>
        <p-button
          class="btn-cta"
          icon="pi pi-send"
          iconPos="right"
          label="Contactar"
          styleClass="p-button p-button-rounded"
          pTooltip="Ponerse en contacto"
          (click)="mostrarNotificacion()"
        ></p-button>
      </form>
    </div>
  </div>
</div>
