<section class="acerca-de">
  <h2 class="titulo-seccion">Acerca de nosotros</h2>
</section>


<div class ="container mb-8">
  <div class="row mt-7">
    <h3 class ="text-center mt-8">Si quieres saber un poco más..</h3>
    <div class="col mt-5">
      <section id="section1">
        <p>Es un lugar donde podrás descubrir deliciosas y creativas ideas culinarias para satisfacer
          tu pasión por la cocina. Nuestro objetivo es proporcionarte un recurso confiable y práctico
          para que disfrutes de la preparación de alimentos y sorprendas a tus seres queridos con platos
          increíbles.
        </p>

        <p>Aquí encontrarás una amplia colección de  recetas cuidadosamente seleccionadas, desde clásicos
          tradicionales hasta creaciones innovadoras. Ya sea que estés buscando inspiración para el desayuno,
          almuerzo, cena, o incluso postres irresistibles, tenemos algo para todos los gustos y preferencias
          alimentarias.
        </p>

        <p>Nos enorgullece ofrecer recetas detalladas y fáciles de seguir, acompañadas con hermosas imágenes
          que te abrirán el apetito. Además, nuestra web te permite guardar tus recetas favoritas y explorar
          categorías específicas según tus necesidades, como opciones vegetarianas, sin gluten, o bajas en calorías.
        </p>
      </section>
    </div>
    <div class="col">
      <img  src="assets/images/fondo-about-1.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img id="img-2" src="assets/images/fonfo-about-2.jpg">
    </div>
    <div class="col m-5">

      <p>
        Nuestro equipo está compuesto por apasionados amantes de la cocina, que han puesto todo su esfuerzo en desarrollar
        esta aplicación. Nos esforzamos por brindarte la mejor experiencia culinaria y estamos abiertos a tus sugerencias y comentarios
        para seguir mejorando.
      </p>

      <p class="text-center">
        ¡ Esperamos que disfrutes explorando nuestras recetas  y que te diviertas cocinando !
        No dudes en contactarnos si tienes alguna pregunta o necesitas ayuda.
      </p>

      <h3 class="text-center m-3">
        ¡ Buen provecho !
      </h3>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="container mt-5">
    <h2 class="text-center">
      ¿ Dudas ? ¡Contacta con nosotros ?
    </h2>
    <div class="fila">
      <div class="col">
        <app-contacto></app-contacto>
      </div>
      <div class="col text-center">
      <img alt="contacto" id="img-3" src="assets/images/contact.png">
      </div>
    </div>
  </div>
</div>
