
.contenedor{
  margin-top: 2em;
  margin-bottom: 4em;
}
.titulo-seccion {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto;
}

img{
  max-width:70%;
  margin-left: 100px;
}
p{
  font-size: 18px !important;
}

#img-2{
  max-width: 80%;
  border-radius: 40%;
  margin: 50px;
}

#img-3{
  max-width: 100%;
  margin: 0;
}
.fila{
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) and (min-width: 200px) {
  .fila{
    flex-direction: column;
  }
  #img-3{
    max-width: 75%;
    margin: 0;
  }
}
