@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.image-container {
  position: relative;
  overflow: hidden;
}
.recipe-img {
  width: 100%;
  height: 225px; /* ajusta el valor de acuerdo a tus necesidades */
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

::ng-deep .admin-container button.p-button.p-button-icon-only.p-button-rounded{
    height: unset !important;
}
::ng-deep .admin-container .p-button{
  padding: 0 !important;
}

.blur-div {
  position: absolute;
  height: 54px;
  width: 300px;
  background: linear-gradient(rgba(255, 255, 255, 0.915), rgba(255, 255, 255, 0));
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 1rem 1rem 0 0;
}

.container{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.col-md-4 {
  display: flex;
  align-items: center;
}

::ng-deep app-tarjeta .p-card .p-card-body{
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
::ng-deep app-tarjeta .p-card .p-card-content {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep app-tarjeta .p-card .p-card-title{
  text-align: left;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 0.5rem 0;
  max-height: 75px;
}

.icon-container {
  position: relative;
  display: flex;
  width: 0;
  height: 0;
  bottom: 220px;
  left: 235px;
  font-size: 20px;
  color: black;
  flex-direction: row;
  align-items: baseline;
  text-shadow: #FFC10D 1px 0 8px;
}

.icon-container-ing{
  position: relative;
  display: flex;
  width: 0;
  height: 0;
  bottom: 220px;
  left:190px;
  font-size: 20px;
  color: black;
  flex-direction: row;
  align-items: baseline;
  text-shadow: #FFC10D 1px 0 8px;
}
.icon-container-ing i{
  color: black;
  font-size: 1.10rem;
}
.icon-container i {
  color: black;
  font-size: 1.10rem;
}
.icon-container-ing .ingredientes {
  margin-left: 4px;
}
.icon-container .time {
  margin-left: 4px;
}
::ng-deep app-tarjeta .p-card .p-card-content{
  padding: 0px;
}


  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  .username {
    font-size: 14px;
    color: #999;
    padding: 0;
    margin: 0;
  }

  .header-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;
  }

  .header-info {
  display: flex;
  flex-direction: column;
  }

  .username {
  font-size: 14px;
  color: #999;
  }
.avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}



::ng-deep app-tarjeta .p-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.303);
  transition: box-shadow 330ms ease-in-out;

}



