<form [formGroup]="recetaForm" (ngSubmit)="onSubmitReceta($event)">
  <h3>Información de la receta</h3>
  <div class="columna">
    <div class="form-group">
      <label for="nombre">Título</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input
        type="text"
        id="descripcion"
        formControlName="descripcion"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <p-dropdown
        [style]="{ width: '100%' }"
        id="categoria"
        formControlName="categoria"
        [options]="categorias"
        optionLabel="nombre"
        (onChange)="seleccionarCategoria($event.value)"
        placeholder="Selecciona una"
      ></p-dropdown>
    </div>
  </div>
  <h3>Preparación y cocción</h3>
  <div class="fila">
  <div class="columna-prep">
    <div class="form-group">
      <label for="tiempoPreparacion">Tiempo de preparación</label>
      <input
        type="number"
        id="tiempoPreparacion"
        formControlName="tiempoPreparacion"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="tiempoCoccion">Tiempo de cocción</label>
      <input
        type="number"
        id="tiempoCoccion"
        formControlName="tiempoCoccion"
        class="form-control"
      />
    </div>

  </div>
    <div class="form-group-full">
      <label for="instrucciones">Instrucciones (cada línea se convertirá en un paso separado)</label>
      <textarea id="instrucciones" formControlName="instrucciones" class="form-control"></textarea>
    </div>
  </div>
</form>
<button
  type="submit"
  class="btn btn-primary boton"
  (click)="guardarReceta($event)"
  (click)="onSubmitReceta($event)"
>
  Añadir ingredientes
</button>

<div *ngIf="mostrarNuevoIngrediente">
  <h3>Ingredientes</h3>
  <form [formGroup]="ingredienteForm">
    <div class="col-ing">
      <div class="row-ing">
        <div class="input-ing">
          <label for="ingrediente">Selecciona un ingrediente</label>
          <p-autoComplete
            id="ingrediente"
            formControlName="ingrediente"
            [suggestions]="ingredientesFiltrados"
            (completeMethod)="filtrarIngredientes($event)"
            field="nombre"
            (onSelect)="seleccionarIngrediente($event)"
          >
          </p-autoComplete>
        </div>
          <div class="form-group" *ngIf="ingredienteSeleccionado">
            <label for="cantidad">Cantidad</label>
            <input
              type="number"
              id="cantidad"
              formControlName="cantidad"
              name="cantidad"
              class="form-control"
            />
          </div>
          <div class="form-group" *ngIf="ingredienteSeleccionado">
            <label for="unidadMedida">Unidad de medida</label>
            <p-dropdown
              [style]="{ width: '100%' }"
              id="unidadMedida"
              formControlName="unidadMedida"
              [options]="unidadesMedida"
              (onChange)="seleccionarUnidadMedida($event.value)"
              placeholder="Selecciona una"
            ></p-dropdown>
          </div>
        </div>
        <button *ngIf="ingredienteSeleccionado"
          type="button"
          class="btn btn-primary"
          (click)="agregarIngredienteAReceta()"
        >
          Agregar ingrediente
        </button>

<div class="chip-container">
      <div *ngFor="let ingrediente of ingredientesEnReceta" class="ing-chip">
        <p-chip [removable]="true" (onRemove)="eliminarIngrediente(ingrediente)"
          >{{ ingrediente.ingrediente.nombre }}
          {{ ingrediente.cantidad }}
          {{ ingrediente.unidadMedida }}
        </p-chip>
      </div>
</div>
<div class="avatar-upload">
  <p-fileUpload name="myfile[]" (onSelect)="upload($event)" [multiple]="false" accept="image/*" [maxFileSize]="maxFileSize">
      <ng-template pTemplate="toolbar">
          <div class="py-3">Sube tu avatar</div>
      </ng-template>
      <ng-template pTemplate="content">
      </ng-template>
  </p-fileUpload>

</div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onSubmitIngredientes($event)"
      >
        Guardar Receta
      </button>
    </div>
  </form>
</div>
