<div *ngIf="!recetaGuardada">
  <h2> Primero, introduce los datos generales de la receta</h2>
<form [formGroup]="recetaForm" (ngSubmit)="onSubmitReceta($event)">
  <h3>Información de la receta</h3>
  <div class="columna">
    <div class="form-group">
      <label for="nombre">Título</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
        [disabled]="recetaGuardada"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input
        type="text"
        id="descripcion"
        formControlName="descripcion"
        class="form-control"
        [disabled]="recetaGuardada"
      />
    </div>
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <p-dropdown
        [style]="{ width: '100%' }"
        id="categoria"
        formControlName="categoria"
        [options]="categorias"
        optionLabel="nombre"
        (onChange)="seleccionarCategoria($event.value)"
        placeholder="Selecciona una"
        [disabled]="recetaGuardada"
      ></p-dropdown>
    </div>
  </div>
  <h3>Preparación y cocción</h3>
  <div class="fila">
    <div class="columna-prep">
      <div class="form-group">
        <label for="tiempoPreparacion">Tiempo de preparación</label>
        <input
          type="number"
          id="tiempoPreparacion"
          formControlName="tiempoPreparacion"
          class="form-control"
          [disabled]="recetaGuardada"
        />
      </div>
      <div class="form-group">
        <label for="tiempoCoccion">Tiempo de cocción</label>
        <input
          type="number"
          id="tiempoCoccion"
          formControlName="tiempoCoccion"
          class="form-control"
          [disabled]="recetaGuardada"
        />
      </div>
    </div>
    <div class="form-group-full">
      <label for="instrucciones"
        >Instrucciones (cada frase introducida será un paso)</label
      >
      <textarea
        id="instrucciones"
        formControlName="instrucciones"
        class="form-control"
        [disabled]="recetaGuardada"
      ></textarea>
    </div>
  </div>
</form>
<p-button
  type="submit"
  class="boton"
  (click)="guardarReceta($event)"
  (click)="onSubmitReceta($event)"
  *ngIf="!ingredientesAnadidos"
>
  Añadir ingredientes
</p-button>
</div>
<div *ngIf="recetaGuardada">
    <h2>Información de la receta</h2>
    <p><strong>Título:</strong> {{ receta.nombre }}</p>
    <p><strong>Descripción:</strong> {{receta.descripcion }}</p>
    <p><strong>Categoría:</strong> {{ receta.categoria.nombre }}</p>

    <h2>Preparación y cocción</h2>
    <p><strong>Tiempo de preparación:</strong> {{ receta.tiempoPreparacion }} minutos</p>
    <p><strong>Tiempo de cocción:</strong> {{ receta.tiempoCoccion }} minutos</p>
    <p><strong>Instrucciones:</strong></p>
      <ul *ngFor="let instruccion of dividirCadena(receta.instrucciones)">
        <li>{{ instruccion }}</li>
      </ul>
</div>

<div *ngIf="mostrarNuevoIngrediente">
  <h3>Ingredientes</h3>
  <form [formGroup]="ingredienteForm">
    <div class="col-ing">
      <div class="row-ing">
        <div class="input-ing">
          <label for="ingrediente">Selecciona un ingrediente</label>
          <p-autoComplete
            id="ingrediente"
            formControlName="ingrediente"
            [suggestions]="ingredientesFiltrados"
            (completeMethod)="filtrarIngredientes($event)"
            field="nombre"
            (onSelect)="seleccionarIngrediente($event)"
            placeholder="Escribe para buscar ingredientes..."
          >
          </p-autoComplete>
        </div>
      </div>
      <div class="row-ing" *ngIf="ingredienteSeleccionado">

      <div class="form-group" *ngIf="ingredienteSeleccionado">
        <label for="cantidad">Cantidad</label>
        <input
          type="number"
          id="cantidad"
          formControlName="cantidad"
          name="cantidad"
          class="form-control"
        />
      </div>
      <div class="form-group" *ngIf="ingredienteSeleccionado">
        <label for="unidadMedida">Unidad de medida</label>
        <p-dropdown
          [style]="{ width: '100%' }"
          id="unidadMedida"
          formControlName="unidadMedida"
          [options]="unidadesMedida"
          (onChange)="seleccionarUnidadMedida($event.value)"
          placeholder="Selecciona una"
        ></p-dropdown>
      </div>
      </div>
      <p-button
        *ngIf="ingredienteSeleccionado"
        (click)="agregarIngredienteAReceta()"
        class="boton"
      >
        Agregar ingrediente
      </p-button>

      <div class="chip-container">
        <div *ngFor="let ingrediente of ingredientesEnReceta" class="ing-chip">
          <p-chip
            [removable]="true"
            (onRemove)="eliminarIngrediente(ingrediente)"
            >{{ ingrediente.ingrediente.nombre }}
            {{ ingrediente.cantidad }}
            {{ ingrediente.unidadMedida }}
          </p-chip>
        </div>
      </div>
      <div class="avatar-upload">
        <p-fileUpload
          name="myfile[]"
          (onSelect)="upload($event)"
          [multiple]="false"
          accept="image/*"
          [maxFileSize]="maxFileSize"
        >
          <ng-template pTemplate="toolbar">
            <div class="py-3">Sube  una foto para la receta</div>
          </ng-template>
          <ng-template pTemplate="content"> </ng-template>
        </p-fileUpload>
      </div>
      <p-button
        type="submit"
        class="boton"
        (click)="onSubmitIngredientes($event)"
      >
        Guardar Receta
      </p-button>
    </div>
  </form>
</div>
