@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

form {
  padding-bottom: 20px;
}

label{
  margin-top: 8px;
}
.fila{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.columna{
  display: flex;
  flex-direction: column;
}
.columna-prep{
  display: flex;
  flex-direction: column;
  width: 33%;
}
#instrucciones{
  height: 108px;
}

::ng-deep input.p-element.p-autocomplete-input.p-inputtext.p-component.ng-tns-c18-4.ng-star-inserted{
  width: 100%;
}
::ng-deep .p-autocomplete{
  width: 100%;
}
::ng-deep .p-inputtext {
  width: 100%;
}
::ng-deep .boton button.p-ripple.p-element.p-button.p-component{
  width: 100%;
  display: flex;
  justify-content: center;
}
p-button.p-element.boton {
  width: 100%;
}
h3{
  padding-top: 16px;
}
.col-ing{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.row-ing{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.form-group{
  width: 100%;
}
.input-ing{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chip-container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  width: 100%;
}

.ing-chip {
  flex: 0 0 auto;
  padding-bottom: 16px;
  padding-top: 16px;
}

.titulo-seccion {
  font-family: 'Fira Sans', sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto;
}
.form-group-full {
  width: 100%;
}
::ng-deep .chip-container .p-chip{
  background-color: #ffe086;
  color: black;
  font-size: 21px;
  font-weight: 500;
  padding: 0 16px;
}
